<div class='book-archive'>
  <!-- Title -->
  <% if(is_archive()){ %>
    <h1>Archives</h1>
  <% } else if(is_category()) { %>
    <h1><%-page.category%></h1>
  <% } else if(is_tag()) { %>
    <h1>Tags</h1>
  <% } %>

  <% if(is_current('archives')) { %>
    <!-- Split post by year -->
    <%
        var years = {};
        site.posts.sort('date').reverse().forEach(function(post){
            var year = post.date.year()
            if(years[year]===undefined){
                years[year] = [];
            }
            years[year].push(post);
        });
    %>
  <% } else { %>
    <!-- Split post by year -->
    <%
        var years = {};
        page.posts.sort('date').reverse().forEach(function(post){
            var year = post.date.year()
            if(years[year]===undefined){
                years[year] = [];
            }
            years[year].push(post);
        });
    %>
    <!-- Split post by category -->
    <%
        var categories = {};
        Object.keys(years).reverse().forEach(function(year){
          years[year].map(function(post){
            post.categories.forEach(function(category, i) {
              if(i===1) {
                if(categories[category.name]===undefined){
                  categories[category.name] = [];
                }
                categories[category.name].push(post);
              }
            })
          })
        })
    %>
  <% } %>

  <% Object.keys(categories).forEach(function(category){  %>
    <div class="category">
        <h2><%= category %></h2>
        <ul class="archive-list-item">
        <% categories[category].map(function(post){  %>
            <li>
              <a href="<%- config.root %><%- post.path %>">
                <%- post.title || "Untitled" %>
              </a>
            </li>
        <% }) %>
        </ul>
    </div>
  <% }) %>

  <% if(!is_current('archives') && page.total > 1) {%>
    <nav class="pager">
        <%- paginator() %>
    </nav>
  <% } %>
</div>